<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @obra.name %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @obra.monto %>
</p>

<p>
  <strong>Status:</strong>
  <%= @obra.status %>
</p>

<p>
  <strong>Avance:</strong>
  <%= @obra.avance %>
</p>

<%= link_to 'Edit', edit_obra_path(@obra) %> |
<%= link_to 'Back', obras_path %>
